/* base html elements */

body {
    margin: 0;
    text-shadow: 0.0625em 0.0625em 0 #000,
    -0.0625em 0.0625em 0 #000,
    0.0625em -0.0625em 0 #000,
    -0.0625em -0.0625em 0 #000,
    0 0.0625em 0 #000,
    0 -0.0625em 0 #000,
    -0.0625em 0 0 #000,
    0.0625em 0 0 #000,
    0.125em 0.125em 0 #000,
    -0.125em 0.125em 0 #000,
    0.125em -0.125em 0 #000,
    -0.125em -0.125em 0 #000,
    0 0.125em 0 #000,
    0 -0.125em 0 #000,
    -0.125em 0 0 #000,
    0.125em 0 0 #000,
    0.0625em 0.125em 0 #000,
    -0.0625em 0.125em 0 #000,
    0.0625em -0.125em 0 #000,
    -0.0625em -0.125em 0 #000,
    0.125em 0.0625em 0 #000,
    -0.125em 0.0625em 0 #000,
    0.125em -0.0625em 0 #000,
    -0.125em -0.0625em 0 #000;
}

/* divs for general layout */

#container {
    min-width: 62em;
    min-height: 44em;
    background: #ffffff;
    color: black;
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1em;
}

.center {
    box-sizing: border-box;
    background: url(/images/IMG_2824_cut.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 80%;
}

.center h1 {
    /*text-shadow: 0 0 0.3125em #000000, 0 0 0.5em #000000;*/
    color: white;
    font-size: 3.75em;
    font-weight: 200;
}

.center h2 {
    /*text-shadow: 0 0 0.3125em #000000, 0 0 0.5em #000000;*/
    color: white;
    font-size: 1.75em;
    font-weight: 200;
}

.center h3 {
    /*text-shadow: 0 0 0.3125em #000000, 0 0 0.5em #000000;*/
    color: white;
    font-size: 1.125em;
    font-weight: 200;
}

.topbot {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    color: black;
    font-size: 1em;
    text-align: center;
}

.col1{
    box-sizing: border-box;
    float: left;
    width: 65%;
    height: 100%;
}

.col2 {
    box-sizing: border-box;
    float: right;
    width: 35%;
    height: 100%;
}

/* "Nobody expects the spanish inquisition!" */
.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

/* standard input field */

.inputBar {
    font-size: 0.875em;
    width: 100%;
    box-sizing: border-box;
    border: 0.0625em solid #cfcfcf;
    outline: 0;
}

.inputBar input:focus{
    box-sizing: border-box;
    border: 0.0625em solid rgba(43, 43, 43, 0.56);
    outline: 0;
}

/* standard button */

.button {
    width: 100%;
    overflow: visible;
    display: inline-block;
    box-sizing: border-box;
    border: 0.0625em solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 0.0625em 0.0625em 0 #ddd;
    font-size: 1em;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button:hover,
.button:focus {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -0.0625em -0.0625em 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* dropdown menu */

/*Source: http://www.wickham43.net/tutorial.css*/
/*DROPDOWN MENUS - HORIZONTAL*/

#menuh-container
    {
    padding: 0; border: none;
    position:  relative;
    top: 1em;
    left: 0;
    }

#menuh
    { padding: 0; border: none;
    font-size: 1.25em;
    width:100%;
    float:left;
    margin:0.0625em 0;
    }

#menuh a
    {
    text-align: center;
    display:block;
    border: 0.0625em solid white;
    white-space:nowrap;
    margin:0;
    padding: 0.0625em;
    }

#menuh a, #menuh a:visited    /* menu at rest */
    {
    color: white;
    background-color: #ffffff;
    text-decoration:none;
    }

#menuh a:hover    /* menu at mouse-over  */
    {
    border: 0.0625em solid darkgrey;
    text-decoration: none;
    color: white;
    background-color: #ffffff;
    }

#menuh ul
    {
    list-style-type:none;
    margin:0;
    padding:0;
    float:left;
    width: 7em;    /* width of all menu boxes */
    }

#menuh ul ul a {
    width: 100%;
    background-color: #dddddd;
    text-align: left;
    padding-left: 1em;
}
#menuh ul ul a:hover{
    padding-left: 2em;
    background-color: #ffffff;
}

#menuh ul ul a:hover::before {
    content: '\2022  ';
}


#menuh li
    {
    position:relative;
    }

#menuh ul ul
    {
    position:relative;
    z-index:500;
    top:auto;
    display:none;
    padding: 1em;
    margin:-1em 0 0 -1em;
    width: 12em;
    }

#menuh ul ul ul
    {
    top:0;
    left:100%;
    }

div#menuh li:hover
    {
    cursor:pointer;
    z-index:100;
    }

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul
    {
    display:none;
    }

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul
    {
    display:block;
    }

/*end of dropdown menus - horizontal*/
