/* base html elements */

body {
    margin: 0;
}

/* divs for general layout */

#container {
    min-width: 62em;
    min-height: 44em;
    background: #ffffff;
    color: black;
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1em;
}

.center {
    box-sizing: border-box;
    background: url(/images/IMG_2824_cut.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 80%;
}

.center h1 {
    text-shadow: 0 0 0.3125em #000000, 0 0 0.5em #000000;
    color: white;
    font-size: 3.75em;
    font-weight: 200;
}

.center h2 {
    text-shadow: 0 0 0.3125em #000000, 0 0 0.5em #000000;
    color: white;
    font-size: 1.75em;
    font-weight: 200;
}

.center h3 {
    text-shadow: 0 0 0.3125em #000000, 0 0 0.5em #000000;
    color: white;
    font-size: 1.125em;
    font-weight: 200;
}

.topbot {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    color: black;
    font-size: 1em;
    text-align: center;
}

.col1{
    box-sizing: border-box;
    float: left;
    width: 65%;
    height: 100%;
}

.col2 {
    box-sizing: border-box;
    float: right;
    width: 35%;
    height: 100%;
}

/* "Nobody expects the spanish inquisition!" */
.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

/* header related divs */

    /* navigation.html */
    #navbar {
        height: 100%;
        width: 60%;
        float: left;
    }

    /* login.html */
    #logbar {
        height: 100%;
        width: 40%;
        float: right;
    }

/* standard input field */

.inputBar {
    font-size: 0.875em;
    width: 100%;
    box-sizing: border-box;
    border: 0.0625em solid #cfcfcf;
    outline: 0;
}

.inputBar input:focus{
    box-sizing: border-box;
    border: 0.0625em solid rgba(43, 43, 43, 0.56);
    outline: 0;
}

/* standard button */

.button {
    width: 100%;
    overflow: visible;
    display: inline-block;
    box-sizing: border-box;
    border: 0.0625em solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 0.0625em 0.0625em 0 #fff;
    font-size: 1em;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button:hover,
.button:focus {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -0.0625em -0.0625em 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* dropdown menu */

/* TODO: genralise more and get rid of these navbar settings */
/*#navbar ul {
    margin:0;
    padding:0;
    list-style-type:none;
}*/

#navbar ul li {
    list-style-type: none;
    float: left;
    padding: 0.5em;
}

#navbar ul li a {
    font-size: 1em;
    float: left;
    display: block;
    padding: 0 0 0 1.25em;
}

.dropbtn {
    background-color: #FFFFFF;
    color: black;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.dropdown {
    font-size: 1em;
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0);
}

.dropdown-content {
    font-size: 1em;
    display: none;
    position: absolute;
    background-color: #dfdfdf;
    min-width: 12em;
    box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);
}

.dropdown-content a {
    font-size: 1.125em;
    color: black;
    padding: 1em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}
